*{
    box-sizing: border-box;
}
body{
    background-color: rgb(159, 169, 172);
    
}


.navbar-toggler {
    border-color: white; /* Buton çerçevesini beyaz yap */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
.scrolled{
    background-color: #1E3226 !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;  /* Z-index'i biraz düşürün */
    transition: all 0.4s ease;
    min-height: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
    color: black;
    
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    margin:10px;
    
}
.navbar a:hover{
    text-decoration: underline rgb(0, 0, 0);
    opacity: 0.9;
}
#contacts{
    margin-right: 150px;
}
#nav-link-home{
    color: #0A6642;
}

#logo{
    border-radius:15%;

}
#carousel-text{
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   justify-content: center;
   align-items: center;
   text-align: center;
    font-family: "Barlow Condensed", sans-serif;
}
.content-title{
    color: #DFB162;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 900;
    text-transform: capitalize;
}
#carousel-text h1{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}


#section-content{
    background-color: #F6F6F6;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 1px; 
    z-index: -1;
    width: 100%;
}
.content-about{
    font-weight: 400;
    margin: 30px auto;
    line-height:3.25rem;
    text-align: left;
    font-size: 20px;
    font-family:sans-serif;
    
}
#section-photo{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

#nav-content{
    width: 100%;
    min-height: 150px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.content-nav-item a{
    color: white;
    margin: 10px;
    border: 1px solid white;
    background-color: #1E3226;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}
.content-nav-item a:hover{
    text-decoration: underline rgb(255, 255, 255);
    opacity: 0.9;
    color: white;
}
.content-nav-item a:focus{
    opacity: 0.9;
    color: black;
    text-decoration: none;
}

.login-card{
    background-image: url(/media/card-background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left;
    height: 300px;
    width: 300px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    text-align: left;
    border-radius:50%;
    background-color: #1e5641;
    transition: all ease 0.3s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login-card:hover{
    background-color: #0b9a63;
    opacity: 0.9;
    transform: scale(1.2);
    box-shadow:8px 8px 8px 8px rgba(0, 0, 0,0.6);
}
.login-card-body {
    display: flex;
    justify-content: flex-start; /* İçeriği sola yasla */
    align-items: flex-start; /* İçeriği yukarıdan hizala */
    text-align: left;
    flex-direction: column;
    width: 100%;
    padding-left: 15px; /* Yazıları biraz içeri al */
}

.login-title {
    margin-top: 10px;
    color: #e90a0a;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center; /* Sola yasla */
    width: 100%;
}

.login-text {
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;   
    text-transform: capitalize;
    text-align: center; /* Sola yasla */
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0A6642;
    padding: 15px 0;
    text-align: center;
    color: white;
    position: relative;
    
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin: 5px 0;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    
}

#footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#footer-logo {
    width: 60px;
    height: 60px;
}

#particles-js {
    position: fixed; 
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1; 
}
#content-section-title{
    color: #DFB162;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 900;
    text-transform: capitalize;
}


@media (max-width: 480px) {
    
    body{
        font-size: 14px;
    }

    .banner{
       margin-top:150px;
    }
    .navbar{
        background-color: #1E3226 !important;
        width: 100%;
    }
    #logo{
        width: 60px;
        height: 60px;
        margin: 0px 20px;
        display: block;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .card{
        width: 100%;
        height: 100%;
        
    }
    .card:hover{
        transform: none;
    }
    .card-text{
        color:black;
        font-size: 1000;
    }
    #contacts{
        margin-right:10px;
    }
    
    .particles-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1; /* Efekti en arkaya al */
    }
    #needyPeople,#recycledClothes,#donatedClothes{
        color: rgb(0, 0, 0);
    }

    .content-about{
        font-size: 14px;
    }
    #carousel-item{
        position: relative;
    }
    .content-title {
        font-size: 14px; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out; /* Yumuşak bir geçiş efekti ekler */
    }

    .content-h1 {
        display: none;
    }

   
}


